body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgb(86, 31, 94);
	min-height: 100%;
	max-width: 100%;
}



.header {
	margin: 0 auto;
	max-width: 1000px;
	padding: 15px;
}
.menu {
	color: #fff;
	
}
.list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-weight: bold;
	font-size: 25px;
}
.list-item {
	transition: 1s ease 0s;
	cursor: pointer;
	
}
.list-item:first-child{
	transform: rotate(10deg);
}
.list-item:hover:last-child{
	color: green;
	transform: rotate(360deg);
}

.list-item:hover:nth-child(2) {
	color: yellow;
	font-size: 30px;
}

.list-item:hover:first-child{
	color: red;
	transform: rotateY(15deg);
	
}

.main{
	max-width: 350px;
	margin: 0 auto;
	border: 1px solid #fff;
	text-align: center;
	transition: 0.3s ease 0s;
	min-height: 100px;
	padding-top: 20px;
}
.main:hover{
	background-color: rgb(76, 36, 82);
	border-radius: 7px;
	border: 0.5px solid green;
}

.text{
	color: rgb(214, 39, 39);
	transition: 0.3s ease-in-out;
}

.text:hover{
	color: rgb(250, 250, 81);
}